{% extends 'Responsable/base.html.twig' %}

{% block title %}Statistique{% endblock %}

{% block body %}
    <h1 class="mb-3">Statistiques des comptes rendus par date</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

{% endblock %}
