{% extends 'Delegue/base.html.twig' %}

{% block title %}Vehicule index{% endblock %}

{% block body %}
    <h1>Liste des vehicules</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Immatriculation</th>
                <th>Marque</th>
                <th>Modele</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicule in vehicules %}
            <tr>
                <td>{{ vehicule.id }}</td>
                <td>{{ vehicule.marque }}</td>
                <td>{{ vehicule.modele }}</td>
                <td>
                    <a href="{{ path('delegue_vehicule_show', {'id': vehicule.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun vehicule trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
