{% extends 'Praticien/base.html.twig' %}
{% block title %}Accueil Praticien{% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvenue chez GSB</h1>
            <p class="lead">Ce site vous servira à observer les différents comptes-rendus créés par nos praticiens mais également differents types de médicaments.</p>

            <div class="row">
                <div class="col">
                    <h5><b>Compte - Rendu</b></h5>
                    <p class="lead">
                        <a class="btn btn-outline-primary" href="{{ path('praticien_compte_rendu_index') }}" role="button">Consulter</a>
                    </p>
                </div>
                <div class="col">
                    <h5><b>Consulter</b></h5>
                    <p class="lead">
                        <a class="btn btn-outline-primary" href="{{ path('praticien_medicament_index')}}" role="button">Médicaments</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}